.porfolio_contact-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 40px 10%;
    margin-top: 40px;
    gap: 20px;
}

.porfolio_contact-container_top {
    border-bottom: 2px solid #fff;
    padding: 30px 0;
}

.portfolio_contact-container_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.mailBox-icon {
    font-size: 80px;
}

.porfolio_contact-container_email {
    padding: .5rem 1rem;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .3s ease-in-out;
    max-width: 600px;
    margin: 30px auto 0;
}

.copied {
    background-color: rgb(135, 241, 135);
}

.copy_email_btn {
    color: #000;
    padding: .6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgb(163, 91, 230);
    border: none;
    margin: 15px auto 0;
    border-radius: 10px;
    max-width: 600px;
    cursor: pointer;
}

.portfolio_contact-container_links {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;    
}

.portfolio_contact-container_links svg {
    font-size: 30px;
    transition: .2s;
}

.portfolio_contact-container_links svg:hover {
    scale: 1.1;
}