.portfolio_header {
    height: 100vh;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /*background: radial-gradient(circle at 50% 50%, #655479 0%, #5B4C6C 5%, #393240);
    background: radial-gradient(circle at 50% 50%, rgb(126, 67, 126) 0%, rgb(40, 14, 44) 80%);*/
    background: radial-gradient(circle at 50% 50%, rgb(163, 91, 230) 0%, rgb(65, 35, 94) 80%);
}

.portfolio_header-title {
    text-transform: uppercase;
}

.portfolio_header-title h1 {
    font-size: 130px;
    line-height: 110px;
}

.title-icons {
    font-size: 70px;
    line-height: 0;
    margin-left: 1.5rem;
}

.title-icons svg {
    cursor: pointer;
    transition: .3s;
    margin-right: 1.5rem;
}

.title-icons svg:hover {
    scale: 1.1;
    transform: translateY(-10%);
}

.portfolio_header-title p {
    font-size: 28px;
    font-weight: 600;
    opacity: .7;
}

.portfolio_header-btn {
    padding: .7rem 1.7rem;
    background: none;
    border: 3px solid #f5f5f5;
    border-radius: 5px;
    color: #f5f5f5;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.portfolio_header-btn:hover {
    background: #f5f5f5;
    color: rgb(163, 91, 230);
}

@media screen and (max-width: 936px) {
    .portfolio_header-title h1 {
        font-size: 100px;
        line-height: 80px;
    }

    .title-icons {
        font-size: 50px;
        margin-left: 2rem;
    }

    .title-icons svg {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .portfolio_header-title h1 {
        font-size: 80px;
        line-height: 65px;
    }

    .portfolio_header-title p {
        font-size: 18px;
    }

    .title-icons {
        font-size: 40px;
        margin-left: 1.3rem;
    }

    .portfolio_header-btn {
        padding: .5rem 1.3rem;
    }
}

@media screen and (max-width: 583px) {
    .portfolio_header-title h1 {
        font-size: 70px;
        line-height: 60px;
    }

    .title-icons {
        font-size: 35px;
        margin-left: 1rem;
    }

    .title-icons svg {
        margin-right: .875rem;
    }
}


@media screen and (max-width: 450px) {
    .portfolio_header {
        gap: 5rem;
    }

    .portfolio_header-title h1 {
        font-size: 60px;
        line-height: 50px;
    }

    .title-icons {
        font-size: 35px;
        margin-left: .5rem;
    }

    .title-icons svg {
        margin-right: .5rem;
    }

    .portfolio_header-title p {
        font-size: 15px;
    }
}